h2 {
    text-align: center;
}
p  {
    color: gray;
    text-align: center;
}
h1 {
    color: white;
    padding-bottom: 10px;
    font-size: 32px;
    animation: fadeIn 2s ease-in-out;   
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
.header-bg img.rounded-circle {
    padding: 12px;
}
.header-bg {
  background-image: url("https://media.licdn.com/dms/image/v2/D4D16AQFsypFFC6iNRQ/profile-displaybackgroundimage-shrink_350_1400/B4DZkNNmC0GsAY-/0/1756863292755?e=1760572800&v=beta&t=qMqZyzoZhgP7Mt9BFv99g1BButLdGhmwC2PwVFrabnk");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tab-pane h2:first-of-type {
    padding-top: 0px;
}
#whatsapp-float {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 9999;
    animation: pulse 1.2s infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}
#whatsapp-float img {
    border-radius: 50%;
    box-shadow: 0 0 24px 4px rgba(255,255,255,0.25);
}
body {
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.nav-tabs {
    display: center;
    position: fixed;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
    text-align: center;
}    
.nav-tabs .nav-link {
    color: #000000 !important;
    background: transparent;
    border: none;
}
.nav-tabs .nav-link img {
    filter: brightness(0) invert(1); 
}
.nav-tabs .nav-link figcaption {
    color: #ffffff !important;
}
.nav-tabs .nav-link.active {
    color: #000000 !important;
    background: rgb(255, 255, 255);
    border-top: 2px solid rgb(0, 153, 255);
    box-shadow: 0 1px 10px rgb(0, 162, 255);
}
.nav-tabs .nav-link.active img {
    filter: brightness(1) invert(0); 
    color: rgb(0, 0, 0);
}
.nav-tabs .nav-link.active figcaption {
    color: #000000 !important;
}
.carousel-inner img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
footer {
    padding-top: 15px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}